<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="user2">
            <h2><span>User 2</span> {{user2.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>User Id</span></dt>
                <dd>
                    <span>{{user2.userId}}</span>
                </dd>
                <dt><span>User Login</span></dt>
                <dd>
                    <span>{{user2.userLogin}}</span>
                </dd>
                <dt><span>Date</span></dt>
                <dd>
                    <span>{{user2.date}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/user-2', user2.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
